body{
    background-color: black;;
}
#container{
    background-color: white;
    height: 200px;
    width: 300px;
    position: relative;
}
.red{
    box-sizing: border-box;
    background-color: red;
}
.first,.third{
    height: 85px;
    width: 85px;
}
.third{
    position: absolute;
    bottom: 0px;
}
.second,.fourth{
    height: 85px;
    width: 185px;
    position: absolute;
}
.second{
    right: 0px;
    top: 0px;
}
.fourth{
    right: 0px;
    bottom: 0px;
}
